<%- include('partials/header');-%>

    <% for(let i=0;i<title.length;i++){ %>
        <h1>
            <%= (i+1) + '.' + title[i] %>
        </h1>
        <% check %>
            <p style="display: inline-block; width: fit-content;">
                <%= output[title[i]] %>
            </p>
            <% if(check[title[i]].length> 100){ %>
                <a name=<%=title[i] %> href="/ReadMore/<%= title[i] %>" >Read More</a>
                <% } %>
                    <% } %>

                        <%- include('partials/footer'); -%>